body {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  

  .radio_buttons {
    margin: 20px 0;
  }
  
  .radio_buttons label {
    margin-right: 10px;
    font-weight: bold;
  }
  

  select {
    padding: 5px;
    font-size: 16px;
  }
  

  input[type="range"] {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
